<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="/">Ecard</a>
      <form class="d-flex">
        <input
          class="form-control"
          type="search"
          placeholder="搜尋"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/login">註冊/登入</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">服務條款</a></li>
            <li><a class="dropdown-item" href="#">回報問題</a></li>
            <li><a class="dropdown-item" href="#">品牌辨識</a></li>
            <li><a class="dropdown-item" href="#">徵才</a></li>
            <li><a class="dropdown-item" href="#">商業合作</a></li>
            <li><a class="dropdown-item" href="#">免費下載App</a></li>
            <li><a class="dropdown-item" href="#">設定</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
