<% layout("layouts/boilerplate") %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row flex-fill">
    <div class="col-6">
      <h1>圖片</h1>
    </div>
  </div>
  <div class="row flex-fill">
    <div class="col-6">
      <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">常用信箱</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="輸入信箱"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="輸入密碼"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="d-grid col-12 mx-auto">
          <button type="submit" class="btn btn-primary">註冊/登入</button>
        </div>
      </form>
    </div>
  </div>
</div>
